<%- include('header'); -%>

<div class="container">
  <div class="header">
    <h1 style="letter-spacing:2px">ToDoList</h1>
    <div class="navigation">
      <div class="navigation-dropdown">
        <button class="dropdown-button">Lists
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="navigation-dropdown-content">
          <a><button class="navigation-button-dropdown" onClick="window.location.href='/';">Ongoing</button></a>
          <a><button class="navigation-button-dropdown" onClick="window.location.href='/home';">Home</button></a>
          <a><button class="navigation-button-dropdown" onClick="window.location.href='/school';">School</button></a>
          <a><button class="add-button-dropdown" type="submit" name="list" value="">+</button></a>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <div class="box" id="heading">
    <h3><%= listTitle[0].toUpperCase() + listTitle.substring(1) %></h3>
  </div>
  <hr>
  <div class="box">
    <% newListItems.forEach(function(item){ %>

      <form action="/delete" method="post">
        <div class="item">
          <input name="checkbox" type="checkbox" value="<%= item._id %>" onChange="this.form.submit()"/>
          <p> <%= item.name %></p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>"/>
      </form>
    <% }) %>

    <form class="item" action="/" method="post">
      <input
        type="text"
        name="newItem"
        placeholder="New Item"
        autocomplete="off"
      />
      <button class="add-button" type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
  </div>
</div>

<div class="cards-box">
  <div class="wrapper">
    <div class="container-cards">
      <input type="radio" name="slide" id="List1" checked>
      <label for="List1" class="card">
        <div class="row">
          <div class="icon">1</div>
          <div class="description">
            <h4>List 1</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure commodi quaerat pariatur laborum natus obcaecati et.</p>
          </div>
        </div>
      </label>
      <input type="radio" name="slide" id="List2">
      <label for="List2" class="card">
        <div class="row">
          <div class="icon">2</div>
          <div class="description">
            <h4>List 2</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure commodi quaerat pariatur laborum natus obcaecati et.</p>
          </div>
        </div>
      </label>
      <input type="radio" name="slide" id="List3">
      <label for="List3" class="card">
        <div class="row">
          <div class="icon">3</div>
          <div class="description">
            <h4>List 3</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure commodi quaerat pariatur laborum natus obcaecati et.</p>
          </div>
        </div>
      </label>
      <input type="radio" name="slide" id="List4">
      <label for="List4" class="card">
        <div class="row">
          <div class="icon">4</div>
          <div class="description">
            <h4>List 4</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure commodi quaerat pariatur laborum natus obcaecati et.</p>
          </div>
        </div>
      </label>
      <input type="radio" name="slide" id="addList">
      <label for="addList" class="card-add">
        <div class="form-card">
          <form class="item" action="/" method="post">
            <input
              type="text"
              name="newList"
              placeholder="New list"
              autocomplete="off"
            />
        </div>
        <div class="form-card">
          <form class="item" action="/" method="post">
            <input
              type="text"
              name="newListBackground"
              placeholder="Background image URL"
              autocomplete="off"
            />
        </div>
        <div class="row">
          <div class="icon add-list-icon">
            <button class="add-list-button" type="submit" name="addList" value="<%= listTitle %>">+</button>
          </div>
          <div class="description">
            <h4 style="display: none;"></h4>
            <p class="addList-text">Add a custom list to your ToDoList
            </p>
          </div>
        </div>
      </label>
    </div>
  </div>
  </div>

<%- include('footer'); -%>
