<%- include('header'); -%>

<div class="cards-box">
  <div class="wrapper">
    <div class="container-cards">
      <% lists.forEach((list, i) => { %>
             <input type="radio" name="slide" id="<%= list.name %>" <%= i === (lists.length - 1) ? "checked" : "" %> >
              <label for="<%= list.name %>" class="card" style="background-image: url('<%= list.url%>');">
                    <div style="display:flex; flex-direction:row; height: 500px; width: 600px;">
                      <div class="title-div">
                        <h4 class="title"><%= list.name %></h4>
                      </div>
                      <div class="card-form-tasks" action="/delete" method="post">
                        <form class="card-task">
                            <% list.items.forEach((item, i) => { %>
                              <div class="card-task-line">
                                  <button class="card-task-box" name="checkbox" type="submit" value="<%= item._id %>" onChange="this.form.submit()">
                                    <img class="complete-icon" src="../photos/completeIcon.png"/>
                                  </button>
                                  <p class="card-task-name"> <%= item.name %></p>
                              </div>
                            <% }) %>
                          </form>
                        <form class="card-task-input" action="/" method="post">
                          <input id="card-task-input-text"
                            type="text"
                            name="newItem"
                            placeholder="New task"
                            autocomplete="off"
                          />
                          <button style="background-color: transparent; border: none; display: flex" type="submit" name="list" value="<%= list.name %>">
                            <img class="add-task-icon" src="../photos/taskAddIcon.png"/>
                          </button>
                        </form>
                      </div>
                    </div>
                <div class="row">
                  <div class="icon"><%= i + 1 %></div>
                  <div class="description">
                      <p> <%= list.name === "Daily" ? day : list.body %></p>
                      <form class="delete-button" action="/delete" method="post">
                      <button style="background-color: transparent; border: none" class="icon" type="submit" name="card" value="<%= list._id %>">
                        <img class="delete-icon" src="../photos/deleteIcon.png">
                      </button>
                    </form>
                  </div>
                </div>
              </label>
      <% }) %>

      <!-- static part of the cards -->
      <!-- <input type="radio" name="slide" id="List1" checked>
      <label for="List1" class="card">
        <div class="title-div">
          <h4 class="title">Chicago</h4>
        </div>
        <div class="row">
          <div class="icon">1</div>
          <div class="description">
            <p>Chicago skyline is one of the best in the world!</p>
          </div>
        </div>
      </label>
      <input type="radio" name="slide" id="List2">
      <label for="List2" class="card">
        <div class="title-div">
          <h4 class="title">Home</h4>
        </div>
        <div class="row">
          <div class="icon">2</div>
          <div class="description">
            <p>Calling a house home is fulfiling!</p>
          </div>
        </div>
      </label>
      <input type="radio" name="slide" id="List3">
      <label for="List3" class="card">
        <div class="title-div">
          <h4 class="title">School</h4>
        </div>
        <div class="row">
          <div class="icon">3</div>
          <div class="description">
            <p>Going to school is the best time you will ever have!</p>
          </div>
        </div>
      </label>
      <input type="radio" name="slide" id="List4">
      <label for="List4" class="card">
        <div class="title-div">
          <h4 class="title">Bali</h4>
        </div>
        <div class="row">
          <div class="icon">4</div>
          <div class="description">
            <p>Bali is nice every season of the year!</p>
          </div>
        </div>
      </label> -->

      <!-- Add cards input! -->
      <input type="radio" name="slide" id="addList">
      <label for="addList" class="card">
        <div class="form-title-flex">
          <div class="title-div" style="background: none; text-align: center">
            <h4 class="title-add" style="text-align: center">ADD A CUSTOM LIST</h4>
          </div>
          <div class="card-form">
            <form class="card-item" action="/" method="post">
              <input
                type="text"
                name="cardName"
                placeholder="Name"
                autocomplete="off"
                required="required"
              />
              <br>
              <input
                type="url"
                name="cardImg"
                placeholder="Image (url)"
                autocomplete="off"
                required="required"
              />
              <br>
              <input
                type="text"
                name="cardBody"
                placeholder="Description"
                autocomplete="off"
              />
              <br>
              <button class="button-add" type="submit" name="card" value="accept">Generate List</button>
            </form>        
          </div>  
        </div>
        <div class="row-add">
          <div class="icon" style="display:none;">
          </div>
          <div class="description-add" style="width: 600px; text-align: center;">
            <p>You can add additional lists here!</p>
          </div>
        </div>
      </label>
    </div>
  </div>
  </div>

<%- include('footer'); -%>
